* { 
	/*Normalize*/
	border:0;
	padding:0;
	margin:0;
	text-align: center;
	font-family:"Open Sans",sans-serif;
}
.wrapper {
	overflow:hidden;
	background-color: #e7e7e7;
}
.wrapper > * {
	margin:auto;
}

header, footer {
	font-family:"Open Sans",sans-serif;
	background-color: black;
	color: white;
	display: block;
	text-align: center;
	width:100%;
}
a {
	color: white;
}
.title {
	font-family: 'Fredericka the Great', cursive;
	color: white;
	font-size: 48px;
}

footer a {
	display:inline-block;
}
footer a:hover {
	color:#148d55;
}


header span {
	padding:10px;
	text-decoration: initial;
	display:inline-block;
}

.navigation-item span{
	border-bottom:5px solid black;
}
.navigation:hover .navigation-item {
  color:grey;
}
.navigation-item:hover span {
  color:white;
  border-bottom:5px solid #62EEC4;
}
.navigation-item:hover {
}

.credits {
	margin-bottom: 20px;
}
.social-icons {
	padding-bottom:5px;
}
.social-icons > * {
	margin:10px;
}
.social-icons i {
	color:white;
}

 header .title:hover {
	text-shadow: 2px 2px #62EEC4;
}

/*
mobile to desktop responsive css
*/

@media only screen and (min-width:450px) {
	header > *, footer > * {
		display:inline-block;
		margin:auto;
	}

	footer {
		display:flex;
	}
}

@media only screen and (min-width:750px) {
	header .title {
		padding-right: 25vw;
	}
}